.add-new-todo {
  @include columnCenter;

  width: 100%;
  height: 100%;
  box-sizing: border-box;

  &__button {
    width: 100%;
    height: 100%;
    outline: 2px dashed #000;
    outline-offset: -10px;
    border-radius: 0;
    background-color: lighten($deep-blue, 10px);

    &:hover {
      opacity: 0.6;
    }
  }
}
