$primary-colorie: rgb(58, 75, 130);
$secondary-colorie: rgb(28, 33, 68);
$tertiary-colorie: rgb(16, 13, 37);

$deep-blue: rgb(57, 124, 212);
$calm-blue: rgb(54, 115, 173);

$danger: rgb(203, 51, 51);
$success: rgb(31, 157, 77);
